<ul data-role="listview" data-inset="true">
	<li><span class="due-<%= mate.id %>"><%= duty_deadline mate %></span></li>
	<li>Punkte: <span class="points-<%= mate.id %>"><%= mate.points %></span></li>
	<li>Guthaben: <span class="balance-<%= mate.id %>"><%= mate.balance %></span> <i class="fa fa-btc"></i></li>
</ul>