<div class="text-center">
	<%= link_to image_tag(asset_path(mate.first_name.downcase + ".jpg"), class: "img-circle fade-in box-shadow", alt: "mate", width: "140", height: "140"), mate %>
	<h2 style="margin-top: 5pt; margin-bottom: 20pt"><%= mate.first_name %></h2>
	<ul data-role="listview" data-inset="true">
		<li>Geplant: <%= Area.find(mate.duties.last.area_id).name %> bis <%= mate.duties.last.due_to.strftime("%a der %d.%m") %></li>
		<li>Punkte: <%= mate.points %></li>
		<li>Guthaben: <%= mate.balance %> <i class="fa fa-btc"></i></li>
	</ul>

	<div data-role="collapsible" data-theme="b" data-content-theme="b">
    <h2>Wähle erledigte Aufgabe...</h2>
    <ul data-role="listview">
        <% @areas.each do |area| %>
			<li><a href="index.html"><%= area.name %><span style="width: 9em;float: right;"><%= area.clean? ? content_tag(:div, "Sauber", class: "label label-success") : content_tag(:div, "Dreckig", class: "label label-danger") %></span><span class="ui-li-count" style="width: 9em;"><%= area.points %> Pkt.</span></a></li>
        <% end %>
    </ul>
</div>
</div>
	