<div class="text-center">
	
<%= link_to image_tag(asset_path(mate.first_name.downcase + ".jpg"), class: "img-circle fade-in box-shadow", alt: "mate", width: "140", height: "140"), '#' + mate.first_name %>


<h2 style="margin-top: 5pt; margin-bottom: 20pt"><%= mate.first_name %></h2>

	<div data-role="collapsible" data-theme="b" data-content-theme="b">
	    <h2>Wähle erledigte Aufgabe...</h2>
	    <ul data-role="listview">
	        <% @areas.each do |area| %>
				<li>
					<a href="#" onClick="cleaned_area(this.id, <%= mate.id %>)" id="<%= area.id %>" >
						<%= area.name %>
						<span style="width: 7em;float: right;">
							<%= render 'shared/label', area: area %>
						</span>
						<span class="ui-li-count" style="width: 4.5em;">
							<%= area.points %> Pkt.
						</span>
					</a>
				</li>
	        <% end %>
	    </ul>
	</div>

<ul data-role="listview" data-inset="true">
	<li><%= mate.duties.last.area.name %> bis <span class="due_to-<%= mate.id %>"><%= mate.duties.last.due_to.strftime("%a, %d.%m") + " (noch #{days_till_deadline mate})" %></span></li>
	<li>Punkte: <span class="points-<%= mate.id %>"><%= mate.points %></span></li>
	<li>Guthaben: <span class="balace-<%= mate.id %>"><%= mate.balance %></span> <i class="fa fa-btc"></i></li>
</ul>

</div>
	