<div data-role="panel" id="left-panel" data-display="push" data-position="left" data-theme="b">
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Bewohner</li>
            <% @mates.each do |mate| %> 
               <li data-icon="home"><a href="#<%= mate.first_name.downcase %>"><%= mate.first_name %></a></li>
            <% end %>
        </ul>
        <a href="#" data-rel="close" data-role="button" data-theme="b" data-icon="delete" data-inline="true" class="ui-btn ui-icon-delete">Schließen</a>
    </div>
</div>

<div data-role="panel" id="right-panel" data-display="push" data-position="right" data-theme="a">
    <div data-role="content">
        <table>
        <% @areas.each do |area| %>
            <tr>
            <form>                    
                <td> 
                    <label for="flip-checkbox-3" style="display: inline;" id="flip-checkbox-label-<%= area.id %>"><%= area.name %></label>
                </td>
                <td>
                    <input type="checkbox" data-role="flipswitch" name="flip-checkbox-<%= area.id %>" data-on-text="dreckig" data-off-text="sauber" data-wrapper-class="custom-size-flipswitch" data-theme="b" id="flip-checkbox-<%= area.id %>">
                </td>
            </form>
            </tr>
        <% end %>
        </table>
        <a href="#" data-rel="close" data-role="button" data-theme="b" data-icon="delete" data-inline="true" class="ui-btn ui-icon-delete">Schließen</a>
    </div>
</div>

<script>
$(function () {
    $("[data-role=panel]").panel().enhanceWithin();
});
</script>

<script>

<% @areas.each do |area| %>
                <% flip = %Q($("#flip-checkbox-#{area.id}").prop("checked", true);) %>
                <%= raw flip unless area.clean? %>
                 flipbox<%= area.id %> = $("#flip-checkbox-<%= area.id %>")
                 flipbox<%= area.id %>.on("change",function(event, ui) {

                            $.ajax({url: "areas/<%= area.id %>/edit", type: "GET", data_type: "json", async: false});
                            //flipbox<%= area.id %>.flipswitch({ disabled: true });
    
                            //setTimeout( function() {
                            //   flipbox<%= area.id %>.flipswitch({ disabled: false });
                            //}, 600 );
                            
                            //Timeout and disabling 
                 });
<% end %>

</script>
