<div data-role="page" id="start">
    <%= render 'header' %>
    <div data-role="content">
        <div class="text-center">
	        <% @mates.each do |mate| %>
		        <%= render mate %>
		        <%= render mate.current_duty.area %>
		    <% end %>
        </div>
    </div>
</div>

<%= render 'panel' %>

<% @mates.each do |mate| %>
	<div data-role="page" id="<%= mate.first_name.downcase %>" data-theme="a" data-url="<%= mate.first_name.downcase %>">
		<%= render 'header' %>
		<div data-role="content">
			
	        	<%= render 'mate_overview', mate: mate  %>

		</div>
	</div>
<% end %>

<div data-role="page" id="dialog">
  <div data-role="header">
    <h2>Dialog</h2>
  </div>
  <div role="main" class="ui-content">
    <p id="dialog-content">I am a dialog</p>
  </div>
</div>

