<div data-role="page" id="start">
    <%= render 'header' %>
    <div data-role="content">
        <div class="text-center">
	        <% @mates.each do |mate| %>
		        <%= render mate %>
		        <%= render mate.duties.last.area %>
		    <% end %>
        </div>
    </div>
</div>

<%= render 'panel' %>

<% @mates.each do |mate| %>
	<div data-role="page" id="<%= mate.first_name.downcase %>" data-theme="a" data-url="<%= mate.first_name.downcase %>">
		<%= render 'header' %>
		<div data-role="content">
			
	        	<%= render 'mate_overview', mate: mate  %>

		</div>
	</div>
<% end %>



