<div data-role="page" id="start">
    <%= render 'header' %>
    <div data-role="content">
        <%= render @mates %>
    </div>
</div>

<%= render 'panel' %>

</div>

<% @mates.each do |mate| %>
<div data-role="page" id="<%= mate.first_name.downcase %>" data-theme="a" data-url="<%= mate.first_name.downcase %>">
<%= render 'header' %>

	<div data-role="content">
		
        	<%= render 'mate_overview', mate: mate  %>

	</div>
</div>
<% end %>



<script>
$(function () {
    $("[data-role=panel]").panel().enhanceWithin();
});
</script>

